@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    width: 100%;
    height: 100%;
    overflow: auto;
    color: white;
}

body{
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
}

.comic-book-title{
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 5px 0 #000, 3px 2px 0 #000;
    }
    
    .comic-book-sub-title{
        text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000
    }
